/* css styles */
.navbar-dark .navbar-brand {
  background-size: contain;
  padding-left: 2px !important;
  padding-right: 2px !important; 
  background-repeat: no-repeat;
}


.navbar-logo {
    max-height: 40px;
    max-width: 60px;
    height: 40px;
    width: 60px; 
}





/*-- scss:rules --*/



.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}



.goals {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal; 
  border-radius: 10px;
}

.goals-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("files/goal.png");
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}


a:hover {
  color: #red;
}

