/* css styles */
.navbar-dark .navbar-brand {
  background-size: contain;
  padding-left: 12px !important;
  padding-right: 5px !important; 
  background-repeat: no-repeat;
}


.navbar-logo {
    max-height: 40px;
    max-width: 60px;
    height: 40px;
    width: 60px; 
}